{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>webstudio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
	        <link rel="shortcut icon" href="/favicon.ico">
	        {% addtoblock "css" %}
	            <link href="{{ STATIC_URL }}css/main.css" media="screen" rel="stylesheet" type="text/css" />
	            <link href="{{ STATIC_URL }}css/
	            .css" media="screen" rel="stylesheet" type="text/css" />
	        {% endaddtoblock %}
	    {% render_block "css" %}
    </head>
    <body>
    <div id="page-wrapper">
	<header class="head">
    <div id="logo">
        <a href="/">
            <img src="{{ STATIC_URL }}images/logo.png" alt="Webstudio">
        </a>
    </div> 
    <div class="phone">
        <p class="icon-phone">
            +375 29 615-27-93<br>
            +375 33 615-27-93
        </p>
    </div> 
    <div id="menu-panel">
        <h1><a href="#" id="toggleMenu" class="clearfix">Меню</a></h1>
        <div id="menu-wrap">
            <section class="menu-column">
                <h2><a href="/promote">Продвижение</a></h2>
                <ul>
                    <li><a href="index.html"Привлечение целевых клиентов</a></li>
                    <li><a href="services.html">Старт быстрых продаж</a></li>
                    <li><a href="services.html">Узнаваемость бренда</a></li>
                </ul>
            </section>
            <section class="menu-column">
                <h2><a href="/webdesign">WEB дизайн</a></h2>
                <ul class="menu-column">
                    <li><a href="">Портфолио</a></li>
                </ul>
            </section>
            <section class="menu-column">
                <h2>WEB маркетинг</h2>
                <ul>
                    <li><a href="">Исследование покупательской<br/>  способности</a></li>
                    <li><a href="">Меркетинговые исследования</a></li>
                    <li><a href="">Страницы товаров</a></li>
                </ul>
            </section>
            <section class="menu-column">
                <h2>Реклама и PR</h2>
                <ul>
                    <li><a href="index.html">О нас</a></li>
                    <li>Банерная реклама</a></li>
                </ul>
            </section>
            <section class="menu-column">
                <h2><a href="/contacts">Контакты</a></h2>
                <ul>

                </ul>
            </section>                                  
        </div>
        <div style="clear: both"></div>
    </div>
</header>                                
<!-- /header -->
{% cms_toolbar %}
<article class="container">
        {% block content %}
        {% endblock content %}
</article>
</div>
<footer>
    <seсtion class="social">
        <a href="#"><span class="icon-twitter"></span></a>
        <a href="#"><span class="icon-facebook"></span></a>
        <a href="#"><span class="icon-google-plus"></span></a>
        <a href="#"><span class="icon-vkontakte"></span></a>
    </seсtion>
</footer>
<section id="contact-form">
    </section>
    <section id="buttons">
    <ul>
        <li>
            <button class="btn-contacts btn-primary" data-toggle="modal" data-target=".modal">
            Связаться с нами</button>
        </li>
    </ul>
    </div>
</section>

    <!-- {% show_menu 0 1 100 100 "menu.html" %} -->
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% addtoblock "js" %}
            <script src="{{ STATIC_URL }}js/jquery.js"></script>
            <script src="{{ STATIC_URL }}js/bootstrap/carousel.js"></script>
            <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
            <script src="{{ STATIC_URL }}js/main.js"></script>
        {% endaddtoblock %}
    {% render_block "js" %}
  </body>
</html>

