<form action="" method="post">{% csrf_token %}
{% for field in form.visible_fields %}
	{% if forloop.first %}
	    {% for hidden in form.hidden_fields %}
	    {{ hidden }}
	    {% endfor %}
	{% endif %}
	<p>
	{{ field.errors }}
	{{ field }}
	</p>
{% endfor %}
    <button type="submit">Send message</button>
</form>
</form>
