$menu-btn-width: 200px;
$menu-btn-height: 30px;

@font-face {
    font-family: FuturicaFont;
    src: url(/static/fonts/aDmFU75j_0.ttf);
}
$contact-font: FuturicaFont;

#buttons {

	ul {
		list-style: none;
		padding-left: 0;
		position: absolute;
		top: 200px;

		li {
			margin: 0;
			padding: 0;	
			button {
				font-family: $contact-font;
				border: 0;
				background: #071f4e;
				line-height: $menu-btn-height;
				width: $menu-btn-width;
			    -webkit-transform:rotate(270deg);
			    -moz-transform:rotate(270deg);
			    margin-left: -$menu-btn-width / 2 + $menu-btn-height/2;
			    -o-transform: rotate(270deg);
			    white-space:nowrap;
			    display:block;
		    	font-size: 1.4em;
			    //@include border-bottom-radius(8px);
			}
		}
	}
	//.btnx-contacts {
	//	position: absolute;
	//	left: -0px;
	//	top: 200px;
	//	right: 50px;

	//	line-height: 250px;



	    
	//}
}


