//@import "main.scss";
@import "variables.scss";
$head-height: 60px;
$section-border: 1px solid #000000;
$menu-color: #020202;

$container-width: 1180px;

@font-face {
    font-family: EuroFurence;
    src: url(/static/fonts/eurof55.ttf);
}
$euro-font: EuroFurence;

@font-face {
    font-family: IntroRegular;
    src: url(/static/fonts/IPhGO55u.ttf);
}
$menu-font: IntroRegular;

header.head {
    z-index: 1000;
    position: absolute;
    width: 100%;
    //overflow:visible;
    text-align: center;
    margin:0 0 20px;
    border-bottom: $section-border;

    #logo {
        padding-top: 10px;
        padding-left: 20px;
        margin-bottom: 10px;
        float: left;
    }

    .phone {
        padding: 8px 10px 5px 40px;
        float: right;
        font-family: EuroFurence;
        font-size: 2em;
        p {
            line-height: 1em;
        }
    }

    #menu-panel {
        font-family: $menu-font;
        z-index: 10000;
        margin: 0 auto; 
        padding: 0;
        border: 1px solid #fff;
        background: #fff;
        a {
            color: $menu-color;
            text-decoration: none;
        }
        h1 {
            font-size: 22px;
            margin-top: 20px;
            margin-bottom: 0;
            color: $menu-color;
            color-bottom: none;
        }  
        h2 {
            margin-top:0;
            font-size: 21px;
            color: $menu-color;
        }
        #menu-wrap {
            visibility: none;
            height: 120px;
            padding-bottom: 20px;
            margin: 0 auto 20px;
            max-width: $container-width;
            ul {
                font-size: 16px;
                list-style: none;
            }
        } 
        .menu-column {  
            float: left;
            padding-left: 20px;  
            border-left: $section-border;
            margin-left: 20px;
            text-align: right;
            height: 100%;
        }
        .menu-column:first-of-type {
            border-left: none;
            h2 {
                size: 1.5;
            }
            height: 100%;
        }
    }
}

footer {
    border-top: $section-border;
    padding-top: 15px;
    margin-top: 15px;
}