$left-arrow: "/static/images/lg_larrow";
$right-arrow: "/static/images/lg_rarrow";

$promote: "/static/images/icon_title_lg_promote";
$promote-grayed: "/static/images/icon_title_sm_promote";
$promote-hover: "/static/images/icon_title_promote_hover";
$design: "/static/images/icon_title_lg_design";
$design-grayed: "/static/images/icon_title_sm_design";
$design-hover: "/static/images/icon_title_design_hover";
$marketing: "/static/images/icon_title_lg_marketing";
$marketing-grayed: "/static/images/icon_title_sm_marketing";
$marketing-hover: "/static/images/icon_title_marketing_hover";
$smm: "/static/images/icon_title_pr";
$smm-grayed: "/static/images/icon_title_sm_pr";
$smm-hover: "/static/images/icon_title_pr_hover";

$twitter: "/static/images/btn_social_twitter";
$twitter-hover: "/static/images/twitter_hover";
$unknown: "/static/images/btn_social_unknwn";
$unknown: "/static/images/btn_social_unknwn";
$facebook: "/static/images/btn_social_fb";
$facebook-hover: "/static/images/facebook_hover";
$google: "/static/images/btn_social_google";
$google-hover: "/static/images/google_hover";
$vkontakte: "/static/images/btn_social_vk";
$vkontakte-hover: "/static/images/vk_hover";

$wellcom: "/static/images/wellcom";
$mts: "/static/images/mts";
$skype: "/static/images/skype";

$phone: "/static/images/phone";

.icon {
	&:after {
		visibility: hidden;
	}
	&.icon-left-arrow {
	    background: url(#{$left-arrow}.gif) center center no-repeat;
	    //height:63px;
	    &:after {
	    	content: "<<";
	    }
	}   
	&.icon-right-arrow { 
	    background: url(#{$right-arrow}.gif) center center no-repeat;
	    //height:63px;
    	&.icon-right-arrow:after {
			content: ">>";
		}
	}
}
.social {
	a {
		margin: 5px 5px 10px;
	}
	span {
		display: inline-block;
		height: 33px;
		width: 33px;
	}

}
.icon-twitter {
	background: url(#{$twitter}.gif) center center no-repeat;
	&:hover {
		background: url(#{$twitter-hover}.png) center center no-repeat;
	}
}	
.icon-unknown {
	background: url(#{$unknown}.png) center center no-repeat;
}	
.icon-facebook {
	background: url(#{$facebook}.png) center center no-repeat;
	&:hover {
		background: url(#{$facebook-hover}.png) center center no-repeat;
	}
}	
.icon-google-plus {
	background: url(#{$google}.png) center center no-repeat;
	&:hover {
		background: url(#{$google-hover}.png) center center no-repeat;
	}
}	
.icon-vkontakte {
	background: url(#{$vkontakte}.png) center center no-repeat;
	&:hover {
		background: url(#{$vkontakte-hover}.png) center center no-repeat;
	}
}	
.title-icons {
	.icon {
		display: inline-block;
	}
	
	.icon-smm {
		background: url(#{$smm}.png) center center no-repeat;
		min-width: 200px;
		min-height:120px;
		display: inline-block;
		@extend .icon;
		&.grayed {
			background-image: url(#{$smm-grayed }.png);
		}
	}

	.icon-promote {
		background: url(#{$promote}.png) center center no-repeat;
		min-width: 200px;
		min-height:120px;
		display: inline-block;
		@extend .icon;
		&.grayed {
			background-image: url(#{$promote-grayed }.png);
		}
		&.grayed:hover {
			background-image: url(#{$promote-hover }.png);
		}
	}

	.icon-design {
		background: url(#{$design}.png) center center no-repeat;
		width: 200px;
		min-height:120px;
		background: #000 solid;
		display: inline-block;
		&.grayed {
			background-image: url(#{$design-grayed }.png);
		}
		&.grayed:hover {
			background-image: url(#{$design-hover }.png);
		}
	}

	.icon-marketing {
		background: url(#{$marketing}.png) center center no-repeat;
		width: 200px;
		background: #000 solid;
		display: inline-block;
		&.grayed {
			background-image: url(#{$marketing-grayed }.png);
		}
		&.grayed:hover {
			background-image: url(#{$marketing-hover }.png);
		}
	}

	.icon-smm {
		background: url(#{$smm}.png) center center no-repeat;
		width: 200px;
		background: #000 solid;
		display: inline-block;
		&.grayed {
			background-image: url(#{$smm-grayed }.png);
		}
		&.grayed:hover {
			background-image: url(#{$smm-hover }.png);
		}
	}

	.grayed {
		min-height:160px;	
	}
}
address {
	.tel {
		padding-left: 30px;
		&.wellcom {
			background: url(#{$wellcom}.png) left center no-repeat;
		}
		&.mts {
			background: url(#{$mts}.png) left center no-repeat;
		}
		&.skype {
			background: url(#{$skype}.png) left center no-repeat;
		}
	}
}

.icon-phone {
	display: inline-block;
	background: url(#{$phone}.png) left center no-repeat;
	min-width: 40px;
	min-height: 40px;
	margin: 2px 5px;
	padding-left: 45px;
}

