$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
//@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "wbootstrap.scss";
@import "_contacts.scss";
// endbower
$font-size: 18px;
$font-color: #072154;
$header3-size: 26px;
$header4-size: 30px;
$header5-size: 1.8em;
$border: 2px #bdb8b8 solid ;


$gray-bg: #ede9e9;

$grayed: #7f7f7f;
$black: #000;
$white: #fff;

@import '_head.scss';
@import '_icons.scss';
@import '_buttons.scss';

@font-face {
    font-family: NiveaLight;
    src: url(/static/fonts/LightCY.ttf);
}
$font-nivea-light: "NiveaLight";

@font-face {
    font-family: NiveaBook;
    src: url(/static/fonts/BookCY.ttf);
}
$font-nivea-book: "NiveaBook";


$font-nivea-medium: "NiveaMedium";

article.container {
	// Fonts
	font-family: $font-nivea-light;
	
	z-index: 10;
	padding-top: 120px;
	font-size: $font-size;
	color: $font-color;
	text-align: center;

	.black {
		color: $black;
	}
	header {
		border-bottom: 0;
		botder: $border;
		&.head h1 {
			margin-bottom: -15px;
		}
	}
	ul.text-list {
		padding:10px 0 15px 120px;
		background: #ededee;
	}
	h1, h3 {
		font-family: $font-nivea-medium;
	}
	h1 {
		color: $black;
		font-weight: bold;
	}
	h3 {
		font-size: $header3-size;
		font-weight: bold;
		text-align: center;
	}
	h4 {
		font-size: $header4-size;
		text-align: center;
	}
	h5 {
		font-size: $header5-size;
		padding-top:20px;
	}
	.table {
		margin:0 auto;
		width: 70%;
		text-align: center;
		td, th	{
			border-left: border-color;
		}
	}
	.title-icons {
		max-width: 720px;
		margin: 0 auto;
		a {
			height: 200px;
			width: 200px;
		}
		a:hover {
			text-decoration: none;
		}
	}

	.list-block {
		background: #d2d2d2;
		text-align: center;
		margin-bottom: 30px;
		padding: 20px 20px 10px 40px;
		ol {
			font-weight: bold;
			margin: 0 auto 0;
		    list-style-type: none;
			counter-reset: li-counter;
			display: inline-block;
			li {
				position: relative;
				max-width: 160px;
				text-align:left;
				margin-right: 80px;
				float: left;
			}
			li:before {
				position: absolute;
				top: 0;
				left: -40px;
				height: 60px;
				border-right: $border;
			    content: counter(li-counter);
			    counter-increment: li-counter;
			    padding-right: 12px;	
			    margin-right: 20px;
			}
		}
		ul {
			text-align: left;
		}
	}
	form {
		input, textarea {
			background: $grayed;
			font-size: 0.8em;
			color: $black;
			font-style: italic;
			padding: 2px 7px;
		}
		input[type="text"], input[type="email"],  textarea {
			width: 100% !important; 
			box-sizing: border-box;
			-webkit-box-sizing:border-box;
			-moz-box-sizing: border-box;
		}
	}
	.plugin_googlemap {
		margin-right: 25px;
	}
	button {
		background: $gray;
		color: $white;
		padding: 3px 17px;
		font-size: 0.9em;
		border: 0;
		&:hover {
			background: #071f4e;
			color: #fff;
		}
	}
	p.buttons {
		margin-top: 15px;
		text-align: center;
		button {
			margin-right: 40px;
		}
	}
	address {
		text-align:left;
	}
	table.price {
		width: 100%;
		td:first-of-type, th:first-of-type {
			border: none;
		}
		td, th {
			border-left: 1px $grayed solid;
		}
		th {
			text-align: center;
			padding: 0 10px;
		}
		margin: 20px 0;
	}
	.portfolio .item {
		max-width: 800px;
		div {
			width: 360px;
			float: left;
			margin: 5px 10px 10px;		
		}
	}
	#carousel-feedback {
		.carousel-control {
			$margin: 60px;
			&.left {
				margin-left: $margin;
			}
			&.right {
				margin-right: $margin;
			}
		}
		.item {
			.feedback {
				padding-top: 15px;
				padding-bottom: 15px;
			}
			.link {
				a {
					color: $grayed;
					font-size: 0.9em;
				}
			}
			box-sizing: border-box;
			section {
				display: table-cell;
				width: 50%;
				background: $gray-bg;
				border-right: 10px #fff solid;
				margin: 15px;
				text-align: left;
				padding: 10px 10px;
				h3 {
					font-size: 0.9em;
					margin: 0 5px;
				}
				&.targets {
					.logo {
						img {
							margin-top: -30px;
							margin-bottom: 5px;
						}
					}
					h3 {
						text-align: left;
					}
				}

				.author {
					font-style: italic;
				}
			}
		}
	}
	#carousel-portfolio {
		.carousel-control {
			$margin: 120px;
			&.left {
				margin-left: $margin;
			}
			&.right {
				margin-right: $margin;
			}
		}	
	}
	ul li {
		//display: inline;
		//margin: 0 auto;
		//border: 1px solid #000;
	}	
	.centerblock > .center {
		float: left;
		left: 50%;
		position: relative;
	}
	.centerblock > .center ul {
		position: relative;
		left: -50%;
		float: left;
		text-align: left;
		margin-bottom: -7px;
	}

	#main-nav {
		a {
			color: #020202;
		}
	}
	.right {
		text-align: right;
		h3 {
			text-align: right;
		}
	}
	.left {
		text-align: left;
		h3 {
			text-align: left;
		}
	}
	#main-nav {
		clear: both;
		a {
			text-align: center;
		}
		a: hover {
			text-decoration: none;
		}
		.caption {
			&.left {
				margin-left: 40px;
			}
			&.right {
				margin-right: 40px;
			}	
			max-width: 210px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	#main-slider {
		max-width: 900px;
		min-width: 700px;
		float: right;
		h3 {
			font-size: 3em;
		}
		p {
			font-size: 2em;
		}
		margin-bottom: 40px;
	}
	.clearfix:before,
	.clearfix:after {
	  content:"";
	  display:table;
	}
	.clearfix:after {
	  clear:both;
	}
	.clearfix {
	  zoom:1; /* For IE 6/7 (trigger hasLayout) */
	}
	padding-bottom: 70px;
	min-height: 500px;
	position: relative;
	#main-page {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		min-height: 900px;
		//left: 200px;
	}
}

html,body {
	height: 100%; /* задаем высоту тела документа */
}
#page-wrapper {
	min-height: 100%;
}

footer {
	margin-top: -60px;
	text-align: right;
	.social {
		padding-right: 15px;
	}
}
