<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="" method="post">{% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Send message" />
</form>
</form>
</body>
</html>